body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
/* c display / screen / subscreen */ 
.c21 {
    color: #ebb2cf;
    background: url("images/c21.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: auto 100%;
    height: 100%;
    width: 100%;
}

.c31 {
  background-color: #d9df22;
}

.c22 {
    background: url("images/c22.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: auto 100%;
    height: 100%;
    width: 100%;
}


.c32 {
  background-color: #714fed;
}


.c23 {
  background-color: #c1bf88;
  background: url("images/c23.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
}

.c24 {
  background-color: #c1bf88;
  background: url("images/c24.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
}

.c25 {
  background-color: #c1bf88;
  background: url("images/c25.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
}

.c26 {
  background-color: #c1bf88;
  background: url("images/c26.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
}
















.c331 {
  background-color: #5559e7;
}

.c332 {
  background-color: #b969a9;
}

.c333 {
  background-color: #c13cc5;
}

.c334 {
  background-color: #c13cc5;
}

.c335 {
  background-color: #98886d;
}

.c241 {
  background-color: #fe1ff3;
}

.c242 {
  background-color: #48850b;
}

.c243 {
  background-color: #0dd790;
}

.c244 {
  background-color: #21ade2;
}

.c341 {
  background-color: #fe1ff3;
}

.c342 {
  background-color: #48850b;
}

.c343 {
  background-color: #0dd790;
}

.c344 {
  background-color: #21ade2;
}

.c251 {
  background-color: #5841bf;
}

.c252 {
  background-color: #5841bf;
}

.c253 {
  background-color: #bc15f9;
}

.c254 {
  background-color: #138aa7;
}

.c351 {
  background-color: #5841bf;
}

.c352 {
  background-color: #5841bf;
}

.c353 {
  background-color: #bc15f9;
}

.c354 {
  background-color: #138aa7;
}

.c261 {
  background-color: #cb1323;
}







*{
    margin: 0px;
    padding: 0px;
}

/* body{
    font-family: 'Exo', sans-serif;
} */


#buttons {
 
  width: 300px;
  position: absolute;
  left: 3.5%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
   top: 60%;
  }

  #buttonss {

    width: 300px;
    position: absolute;
    left: 3.5%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
     top: 70%;
      }

  #buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    /* width: 350px; */
    line-height: 60px;
    font-weight: 500;
    font-size: 120%
  }

  #buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
  }

  #buttonss li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    line-height: 60px;
    font-weight: 500;
    font-size: 120%

  }

  #buttonss li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
  }

  #selected {
    border-radius: 5px;
    border: 2px solid #73AD21;
    padding: 2px; 
  }